
.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcomeMsg{
  text-align: center;
  color: gray;
}
.loadingGif{
  height: 40px;
  margin: -15px;
}